
 * {
        list-style: none;
    }
    
    body {
        background: rgb(231, 233, 236);
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        max-width: 1400px;
    }

    .banner img{
      max-width:100%;
      min-height:100%;
    }

    .centreExcellenceBody h6{
      color: #394977;
      font-family: Arial;
      font-weight: bold;
      font-size: 12px;
    }
    /*PARTENAIRES*/
     .nosPartenaires img{
     margin-bottom: 1%;
     margin-top: 1%;
 }
 /*.col.col-lg-2.col-md-2.col-sm-2.img-thumbnails {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}*/
    .nosPartenaires {
    background: #606d92;
    height: 113px;
    border: 2px solid #dfd31b;
    border-radius: 20px;
    }
 @media (max-width:767px){
     .nosPartenaires img{
     margin-left: 1%;
 }
 .nosPartenaires{
     margin-left: 1%;
    overflow-y: scroll;
 }
 }
    /*****************TABS******************/
 /*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  margin: 1%;
  margin-left: 5%;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 100%;
  /*border:1px solid #ddd;*/
  /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  color: white;
  background: #606d92;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: white;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #394977;
  background-image: #5A55A3;
  color: #e6d501;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid  #e5d506;
}
.bhoechie-tab-menu .list-group-item {
    border: 1px solid #e4ce00;
}

div.bhoechie-tab-content{
    min-height: 472px;
    border: 1px dashed #dfd31b;
    border-radius: 6px;
    background-color: #e7eff3;
  padding-left: 10px;
    padding-right: 10px;
  padding-top: 10px;
}
div.bhoechie-tab-content img{
    height: 250px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.list-group-item {
    color: #394977;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
     border-color: #e8d701; 
}

/*************************MISSION***********************/
.objectifParent .objectif{
    width: 30%;
    min-height: 133px;
    color: white;
    text-align: center;
    border: 2px solid #394977;
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 60px;
    background: #657195;
}
.objectif hr {
    background: #394977;
     margin-top:  4px; 
     margin-bottom: 4px; 
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}
.objectif i {
     font-size: 22px;
     color: #e5d506;
}
/***************************VISION**********************************/
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    max-width: 100%;
}
/***************************VALEURS**********************************/
.valeurs span{
    font-size: 12px;
    font-weight: bold;
    color: #394977;
}

/**************************************PROGRAMMES*********************************************/
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-left: 31%;
    width: 75%;
    background: #657195;
    margin-top: 2%;
}

.nav-tabs .nav-item {
    float: left;
    margin-bottom: -5px;
    font-family: Arial;
   font-weight: bold;
    font-size: 12px;
    padding: 1% 6%;
}
.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
    color: #e5d506;
    background-color: #394977;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link {
    color: white;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e5d506;
    color: white;
}


ul.programmesNavbar {
   
    margin-left: 31%;
    width: 75%;
    margin-top: 2%;

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.programmesNavbar li {
    float: left;
    height: 33px;
    /*margin-bottom: -5px;*/
    font-family: Arial;
    background: #657195;
     border-bottom: 1px solid #ddd;
   font-weight: bold;
    font-size: 12px;
    padding: 1.5% 6%;
}
.programmesNavbar li.active {
    height: 35px;
    margin-top: -1px;
    background-color: #394977;
    box-shadow: 5px 0 5px;
}
.programmesNavbar li:hover{
   border: 1px solid #e5d506;
}
.programmesNavbar li a{
    color: white !important;
}
.programmesNavbar li a:hover{
   text-decoration: none !important;
     color: #e5d506 !important;
}
.programmesNavbar li:active a{ 
    color: #e5d506 !important;
}
@media (max-width:767px){
    ul.programmesNavbar {
    margin-left: 20%;
}
}
@media (max-width:504px){
    ul.programmesNavbar {
    margin-left: 10%;
    width: 100%;
}
}
@media (max-width:404px){
    ul.programmesNavbar {
    margin-left: 0%;
    width: 100%;
}
}
@media (max-width:346px){
    .programmesNavbar li {
    padding: 2% 4%;
}
}
@media (max-width:293px){
    .programmesNavbar li {
    padding: 2% 2%;
}
.programmesNavbar li a{
    font-size: 10px;
}
}
/************************CENTRE EXCELLENCE***************************/
.cardAside .card {
    height: 233px;
    margin: 1%;
    margin-top: 10px;
    margin-left: 12%;
    border: 1px solid rgb(232, 213, 0);
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}

.cardAside a{
    color: white;
    background: #657195;
    font-style: 10px;
}
.cardAside a:hover{
    color: rgb(232, 213, 0);
    background: #657195;
     box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}
.card-block {
    padding: 1.25rem;
    text-align: center;
}
.ce_card .card-block {
    padding: 1.25rem;
    text-align: center;
    background: #657195;
    color: white;
}
.ce_card div.bhoechie-tab-content img {
    margin-bottom: 0px;
}

  /*MEDIA QUERIES*/
    @media (max-width:1279px){
        .tohide{
            display: none;
        }
    }
     @media (max-width:1127px){
        header, .bodywrapper, footer{
            margin: 0 6%;
        }
        .navbar-nav .nav-link {
            padding: 10px 6px 10px 6px;
}
    }
    @media (max-width:1112px){
        header, .bodywrapper, footer{
            margin: 0;
        }
    }


@media (min-width: 768px){
.container {
    width: 100%;
    max-width: 100%;
}
}




    .ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 100%;
    margin-left: 28px;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
     margin-top: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
    float: left;
    width: 116%;
    background: #657195;
    border-radius: 7px;
    padding: 0;
     padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    padding: 0;
    width: 100%;
    border: 1px solid #e5d506;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    color: white;
    display: block;
    width: 100%;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
    text-decoration: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    /*margin-bottom: 0.2em;*/
    padding-bottom: 0;
    color: #e5d506 !important;
    background-color: #394977;
    text-decoration: none;
}
.ui-tabs-nav li.ui-tabs-active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #e5d506;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 0px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    position: relative;
}
.mycontent{
    margin-top: 15px;
    margin-bottom: 10px;
     margin-left: 22px;
      border: 1px dashed #dfd31b;
    border-radius: 6px;
    background-color: #e7eff3;
  padding-left: 10px;
    padding-right: 10px;
  padding-top: 10px;
}
.mycontent img{
    height: 250px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px;
}
.mycontent .linearGradient{
    background: linear-gradient(180deg,  #e4d406, transparent,#394977), url("../assets/images/programmes/deboucher_master.jpg");
    background-repeat: no-repeat;
    height: 191px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px;
}

/**************************PROGRAMMES****************************/
.programmesTable thead th{
    width: 80%;
    background-color:#657195;
    color: white;
    font-style: 11px !important;
}
.programmesTable thead th:nth-child(2){
    text-align: center;
}
.programmesTable thead span{
    float: right;
    color: #e4d406;
    cursor: pointer;
}
.programmesTable tbody{
    width: 80%;
    font-style: 11px !important;
}

/***************************AGENDA-EVENTS*****************************/
.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

@media (max-width: 767px) {
    
}
/************************AGENDA-EVENTS***************************/

td.photo {
    padding: 0;
    width: 4rem;
    height: 4rem;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
.table td, .table th {
     padding: 0; 
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
td.intervenant {
    width: 12.5rem;
    padding-left: 5px;
}
th.periode {
    width: 7rem;
    padding-right: 7px;
}
.periode .mois{
    width: 55px;
  font-size: 25px;
  line-height: 30px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
span.date {
    float: right;
}
span.event.text-mute {
    color: #dfd31b;
    font-size: 8px;
    float: right;
}
span.nom{
    font-weight: bold;
    }
.table thead tr{
    height: 34px;
    border-bottom: 2px solid #eceeef;
    background: #657195;
    color: white;
}
.table thead th{
    text-align: center !important; vertical-align: middle !important;
}
.table-bordered td, .table-bordered th {
    border: 3px solid white;
}
tbody tr {
    background: #757575;
    color: white;
}
.intervenant i.fa.fa-info {
    color: #dfd31b;
}
/*ACCORDION*/
div#accordion {
    width: 80%;
    margin-left: 10%;
}
.casr3pmAgenda .card-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: #657195;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.casr3pmAgenda a {
    color: white;
    font-size: 12px;
}
.casr3pmAgenda a:active,.casr3pmAgenda a:hover {
    color: #dfd31b;
    font-size: 12px;
}
.casr3pmAgenda .card {
    position: relative;
    display: block;
    margin-bottom: 3px;
    background-color: #757575;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.casr3pmAgenda .card-block {
    padding: 1.25rem;
    text-align: left;
    color: white;
}
.s1 {
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #dfd31b;
}
#insideTable .table-bordered td,#insideTable .table-bordered th {  
    border: 1px solid white !important;
}
#insideTable .table thead tr {
    height: 34px;border-bottom: 1px solid #eceeef !important;background: #607D8B !important;
}

/*********************RESSOURCES*************************/
ul.nav.nav-tabs.ressources{
    margin-left: 5%;
    width: 90%;
}
.ressources li.nav-item{
    padding: 1% 5%;
}
@media (max-width:1280px){
    .ressources li.nav-item{
    padding: 1% 3%;
}
}
@media (max-width:784px){
    .ressources li.nav-item{
    padding: 1% 1%;
}
}

.col.col-lg-9.col-md-9.col-sm-12.ressourcesCol2 {
    /*background: #acacbb;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.ressourcesCol img{
    width: 25%;
    height: 100px;
    float: left;
    margin: 1%;
}
.ressourcesCol p.fonction{
    padding-left: 3px;
    font-size: 10px;
    color: white;
    
}
.ressourcesCol .doctorant{
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 1%;
    background: #657195;
    min-height: 145px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}
.ressourcesCol span{
    cursor: pointer;
    margin-left: 35%;
    padding: 5px;
    font-size: 12px;
    color: #dfd31b;
}
.ressourcesCol h6 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 2px;
}
.ressourcesCol .collapse h6 {
    color: #657195;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 2px;
}
.ressourcesCol .collapse h6.c2 {
    text-align: left;
}
.ressourcesCol .card-block {
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10%;
    margin-bottom: 2%;
}
.ressourcesCol .card-block hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (min-width: 992px){
   .ressourcesCol .col-lg-6 {
    float: left;
    width: 48%;
}
}
@media (max-width: 601px){
   .ressourcesContainer {
    margin-right: 0;
    margin-left: 0;
}
.doctorant .card-block{
    background: white !important;
}
}


/*****************BANNER AFTER THE MENU*****************/
.beforeTabs{
    background: linear-gradient(135deg,#657195,#e5d506,#657195);
}
.beforeContact{
    background: url(../assets/images/banner/contact.jpg);
    background-size: cover;
}
.temoignagesContainer{
    background: url(../assets/images/banner/default-hero.jpg);
}
.beforeAgenda{
    background: url(../assets/images/banner/banner/agenda2.jpg) no-repeat;
    background-size: cover;
}
.beforeExcellence{
    background: url(../assets/images/banner/banner_excellence.jpg) no-repeat;
    background-size: cover;
}
.beforeProgramme{
    background: url(../assets/images/banner/banner_programme.jpg) no-repeat;
    background-size: cover;
}
.beforeProfessors{
    background: url(../assets/images/banner/banner_professors.jpg) no-repeat;
    background-size: cover;
}
.beforeRessources{
    background: url(../assets/images/banner/banner_ressources.jpg) no-repeat;
    background-size: cover;
}
.beforeRecherches{
    background: url(../assets/images/banner/banner_recherche.jpg) no-repeat;
    background-size: cover;
}
.beforeTemoignages{
    background: linear-gradient(135deg, rgba(0,0,0,0.7) 75%,transparent),url(../assets/images/banner/banner_multimedia.jpg) no-repeat;
    background-size: cover;
}

/**********************MEDIA QUERIES******************************/
    /*************index.html***********/
    .asideMedium{
        display: none;
    }
   .accueilPage #accordion{
        display: none;
    }
@media (max-width:768px){
    /***********SECTION 1 CAROUSEL+MAILING LIST***********/
    .firstrow .col.col-lg-9.col-md-9.col-sm-12.carousel{
        width: 97.5% !important;
    }
    .firstrow .col.col-lg-3.col-md-3.col-sm-12{
        display: none;
    }
    /*************SECTION 2 MAIN+SIDEBAR*********************************/
    .afterSlider .myTextt{
        width: 100%;
    }
    .afterSlider .asideLarge{
        display: none;
    }
    .asideMedium{
        display: block;
        background: #606d92;
        margin-top: 5px;
        overflow: hidden;
    }
    .asideMedium h5{
        color: white;
        text-align: center;
    }
    .asideMedium .row .part {
    width: 31.3%;
    /*border: 2px solid #dfd31b;*/
    margin: 1%;
    padding: 0;
    overflow: hidden;
    }
.asideMedium ul {
    padding: 0;
    }
.asideMedium .agenda {
    margin-left: 5px;
    }
.asideMedium a, .asideMedium span {
    font-size: 10px;
    }

    /********FOOTER********/
    .navfooter{
        display: none;
    }
}
@media (max-width:601px){
    .card-block {
    padding: 1.25rem;
     text-align: left; 
    background: #606d92;
}
.card-header {
    padding: 5px;
    }
.card {
    margin-bottom: 5px;
    }
div#accordion {
    margin-bottom: 30px;
}
.temoignages, .groupSy, .part{
    display: none;
}
#accordion{
    display: block;
}
.asideMedium {
    margin-top: 0px;
}
}
/***************centre_excellence.html******************/

button.btn.btnTelecharger {
    margin: 10px;
    color: #e5d60d;
    text-decoration: none;
    background: #606d92;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
    display: none;
}
a.btnTelecharger:hover {
    text-decoration: none;
}
@media (max-width:833px){
    div.bhoechie-tab-container {
        margin-left: 0px;
    }
    .col.col-lg-9.col-md-9.col-sm-12{
        padding: 0;
    }
    .col.col-lg-12.col-md-12.col-sm-12 {
    padding: 0;
    text-align: center;
}
footer .network ul.network {
    margin-left: 29%;
}
}
@media (max-width: 768px){
    button.btn.btnTelecharger {
    display: block;}
    .col.col-lg-3.col-md-3.col-sm-6.cardAside{
        display: none;
    }
}
@media (max-width: 601px){
    p.card-text {
    color: white;
}

button.btn.btnTelecharger{
    margin-left: 0;
    font-size: 10px;
}
.objectifParent .objectif {
    width: 96%;
    min-height: auto;
}
}
@media (max-width: 576px){
    .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
}
}
/*******************PROGRAMMES********************/
@media (max-width: 906px){
    .programmesMedia .nav-tabs .nav-item {
    padding: 1% 4%;
}
}
@media (max-width: 906px){
    .programmesMedia .container {
    margin: 0;
    width: 100%;
}
.programmesMedia .nav-tabs {
    margin-left: auto;
     margin-right: auto;
}
.ui-tabs.ui-tabs-vertical {
    margin-left: 0;
}
.programmesMedia .nav-tabs {
    margin-left: auto;
     margin-right: auto;
}
.ui-tabs.ui-tabs-vertical {
    margin-left: 0;
}
}
@media (max-width: 575px){
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    width: 100%;
}
.programmesMedia .nav-tabs .nav-item {
    padding: 1% 2%;
}
}
@media (max-width: 480px){
    .nav-tabs {
    width: 100%;
}
}
@media (max-width: 1187px) and (min-width:1127px){
    .nav-tabs {
    width: 100%;
}
}
/**************RESSOURCES****************/
@media (max-width: 468px){
   .ressourcesContainer ul.nav.nav-tabs.ressources {
    margin-left: 0;
    width: 100%;
}
   .ressourcesContainer .nav-tabs {
    border-bottom: 1px solid #ddd;
     margin-left: 0%; 
    width: 75%;
    background: #657195;
    margin-top: 2%;
}
}
/**************TEMOIGNAGES****************/
@media (max-width: 468px){
   #gallery {
    margin-left: 0;
}
}




