/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
html{
     width: 100%;
 }
 body{
   width: 100%;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*SPRITE*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-logo_casr3pm {
   width: 350px;
    height: 250px;
    background-position: 0 0;
    margin-right: 6%;
    margin-left: 7%;
}

.sprite-monument-renaissance-africaine_dakar {
   width: 300px;
    height: 250px;
    background-position: 0 -250px;
    margin-right: 7%;
}

.sprite-place-ind_pendance_dakar {
   width: 300px;
    height: 250px;
    background-position: -350px 0;
    margin-left: 7%;
}
@media (max-width:1329px){
    .sprite-logo_casr3pm {
    margin-left: 2%;
    margin-right: 2%;
}
}
@media (max-width:1186px){
    .sprite-monument-renaissance-africaine_dakar {
    margin-right: 2%;
}

.sprite-place-ind_pendance_dakar {
    margin-left: 2%;
}
    #politique{
        display: none !important;
    }
}
@media (max-width:1058px){
    .sprite-logo_casr3pm {
    margin: 0;
}
.sprite-monument-renaissance-africaine_dakar {
    margin: 0;
}

.sprite-place-ind_pendance_dakar {
    margin: 0;
}
}
@media (max-width:974px){
    .sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-logo_casr3pm {
    margin-left: 20%;
    max-width: 350px;
}

.sprite-monument-renaissance-africaine_dakar {
    display: none;
}

.sprite-place-ind_pendance_dakar {
    display: none;

}
    
}
@media (max-width:450px){
.sprite-logo_casr3pm {
    margin-left: 0;
    width: 100%;
}
}
/*NETWORK ICONS*/
/*ul.network li a i {
	background: white;
	color: #394977;
	width: 29px;
	height: 29px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}*/

nav light-blue.lighten-1 {
    background-color: #29b6f6 !important;
    margin-left: 0px;
}
/*DROPDOWN*/
nav li a:hover, .dropdwn:hover .dropbtn {
    color: rgb(223, 211, 27);
}
nav ul li.active {
    color: rgb(223, 211, 27);
}
nav .nav-wrapper{
    left: -2%;
    font-size: 14px;
}



li.dropdwn {
    display: inline-block;
    height: 45px;
}

.dropdwn-content {
    display: none;
    position: absolute;
    background-color: rgba(57, 73, 119, 0.8);
    /*min-width: 230px;*/
    max-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom: 5px solid rgb(223, 211, 27); 
}

.dropdwn-content a {
    color: white;
    font-size: 12px;
    padding: 0px 12px;
    text-decoration: underline;
    display: inline-block;
    text-align: left;
    height: 40px;
}

.dropdwn-content a:hover {
    color: rgb(223, 211, 27);
    padding-left: 20px;
    }

.dropdwn:hover .dropdwn-content {
    display: block;
    z-index: 10000;
}

@media only screen and (min-width: 993px){
.container {
     width: 86%; 
}
}
/*@media only screen and (min-width: 993px){
footer .container {
     width: 86%;
}
}*/
/*@media (max-width: 1175px){
nav .nav-wrapper {
     margin-left: 0px; 
    margin-right: 0px;
}
}*/
@media (max-width: 1206px){
  nav .nav-wrapper {
    /*margin-left: -21px;*/
    /*margin-right: 0;*/
    left: 1%;
}
}

@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
    /*margin-left: px;*/
}
}
nav ul {
    margin: 0;
    margin-left: 30px;
}

/*Footer*/
.page-footer{
    background-color: #3949ab !important;
    color: #f5f5f5 !important;
}
.page-footer a{
    color: #f5f5f5 !important;
}
.footer-copyright{
    background-color: #394977 !important;
}
.btn-floating.btn-large i {
    line-height: 48px;
    color: rgba(0, 0, 0, 0.8);
}
footer a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    float: right;
    margin-top: -45px;
    margin-right: 302px;
    background-color: #00acc1;
}

@media only screen and (min-width: 993px){
.temoignage {
    text-align: justify;
    border: 4px solid rgb(233, 180, 43) !important;
    margin: 1% !important;
    width: 31.333333% !important;
    padding: 0 !important;
}
}

.imgSlider{
        width: 86%;
        margin-left: 7% !important;
        margin-right: 7% !important;
}
@media (max-width: 800px){
    .imgSlider{
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;}
    .myText h2 {
    margin-left: 0;
    width: 100%;
    height: 300px;
    background: white;
}
    .afterSlider{
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;}
}

/*.myText h2 {
    margin-left: 7%;
    width: 63.7%;
    height: 400px;
    background: white;
}
.myTextt h2 {
    margin-left: 7%;
    width: 63.7%;
    height: 200px;
    background: white;
}*/
