

.prcsMsgWindow{
position: absolute;
bottom: 0px;
background-color: #FFF6D9;
font-weight: bold;
height: 80px;
text-indent: 20px;
line-height: 150%;
width: 500px;
display: none;
}

.prcsMsgWindowTopBorder{
background-color: #FFC000;
height: 4px;
}

.prcsMsgWindowDescr{
font-weight: bold;
font-family: Arial;
}

.prcsMsgWindowUser{
font-weight: 200;
}

.prcsMsgWindowStatus{
font-weight: 200;
}